<% include ../layout/top %>

<section  class="section-padding">
<div class="container" ng-controller="exchangeCtrl" >
        <div class="row">
                <div class="col-md-8 col-sm-12">
                        <h2 class="section-header-in-row top-header">Information</h2>
                </div>
                <div class="col-md-4 col-sm-12" style="padding-top:8px">
                        <div class="fb-share-button pull-right fb_iframe_widget" data-layout="button_count" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=669511529818542&amp;container_width=0&amp;href=https%3A%2F%2Fbittrex.com%2FMarket%2FIndex%3FMarketName%3DBTC-NEO&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 81px; height: 20px;"><iframe name="f2d8ac6ae6bf374" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:share_button Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/share_button.php?app_id=669511529818542&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FZ2duorNoYeF.js%3Fversion%3D42%23cb%3Df3eb6eb54245b58%26domain%3Dbittrex.com%26origin%3Dhttps%253A%252F%252Fbittrex.com%252Ff3990f69257f0cc%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fbittrex.com%2FMarket%2FIndex%3FMarketName%3DBTC-NEO&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 81px; height: 20px;" class=""></iframe></span></div>
                        <div id="tweetbox" class="pull-right" style="padding-right:8px"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.b7974b8ae7c1ae9cc22c4e8064c094ca.en.html#dnt=false&amp;hashtags=NEO&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fbittrex.com%2FMarket%2FIndex%3FMarketName%3DBTC-NEO&amp;size=m&amp;text=BTC-NEO%20%24NEO&amp;time=1507093550950&amp;type=share&amp;url=https%3A%2F%2Fbittrex.com%2FMarket%2FIndex%3FMarketName%3DBTC-NEO&amp;via=bittrexexchange" style="position: static; visibility: visible; width: 60px; height: 20px;"></iframe></div>
                </div>
        </div>
        <div  id="rowChart" class="row" style="margin-bottom:0px">
                <div class="col-md-8 col-sm-12">
                        <ul class="nav nav-tabs nav-info-tab" id="tab-wrapper"> <!-- NavTabs -->
                                <li class="active">
                                        <a href="#tabChartTimeline" data-toggle="tab" aria-expanded="true">
                                        <div class="market-tab-header">
                                                <strong class="visible-lg visible-md hidden-sm hidden-xs tab-title">Timeline</strong>
                                                <i class="fa fa-bar-chart tab-icon"></i>
                                        </div>
                                        </a>
                                </li>
                                <!-- <li class="">
                                        <a href="#tabChartOrderBook" data-toggle="tab" aria-expanded="false">
                                        <div class="market-tab-header">
                                                <strong class="visible-lg  visible-md hidden-sm hidden-xs tab-title">Order Book</strong>
                                                <i class="fa fa-area-chart tab-icon"></i>
                                        </div>
                                        </a>
                                </li> -->
                                

                        </ul>
                        <div class="tab-content">
                                <div class="tab-pane active" id="tabChartTimeline"> <!-- ChartPane -->
                                        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                        <div class="chart-info">
                                            <script type="text/javascript">
                                                new TradingView.widget({
                                                    "width": 850,
                                                    "height": 400,
                                                    "symbol": "POLONIEX:BTCUSDT",
                                                    "interval": "5",
                                                    "timezone": "Etc/UTC",
                                                    "theme": "Light",
                                                    "style": "1",
                                                    "locale": "en",
                                                    "toolbar_bg": "#f1f3f6",
                                                    "enable_publishing": false,
                                                    "allow_symbol_change": true,
                                                    "hideideas": true
                                                });
                                            </script>
                                        </div>
                                </div>
                                
                        </div>
                </div>
                <div class="col-md-4 col-sm-12">
                        <div class="market-stats ">
                                <div class="col-md-12 hidden-sm hidden-xs">
                                    <img class="market-logo" src="https://bittrexblobstorage.blob.core.windows.net/public/ed823972-8cfd-4f1f-a91d-f638ba20bf02.png" onerror="this.src = '/Content/img/symbols/BTC.png'">
                                    <h1 class="page-title">Neo (NEO)
                                    </h1>
                                </div>
                                <div class="col-md-12 col-xs-6 stat-left">
                                    <div class="wrapper">
                                        <div class="title title-up" data-bind="css: { 'title-up': summary.last.absoluteChange() > 0, 'title-down': summary.last.absoluteChange() < 0, 'title-none': summary.last.absoluteChange() == 0 }"><strong>Last</strong></div>
                                        <div class="base-market-subtitle" data-bind="visible: summary.isBtc"><i class="fa fa-usd"></i><span data-bind="text: summary.lastUsd()">33.59</span></div>
                                        <div class="base-market" data-bind="css: { 'fiat': summary.isUsd() || summary.isCny() }">
                                            <i class="fa fa-btc" data-bind="css: { 'fa-btc': summary.isBtc, 'fa-usd': summary.isUsd, 'fa-cny' : summary.isCny }"></i>
                                            <span data-bind="text: summary.displayLast()">0.00777699</span>
                                        </div>
                                        <div class="direction">
                                            <span data-bind="css: { 'dyn-stat-up': summary.last.absoluteChange() > 0, 'dyn-stat-down': summary.last.absoluteChange() < 0, 'dyn-stat-none': summary.last.absoluteChange() == 0 }" class="dyn-stat-up"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-6 stat-right">
                                    <div class="wrapper">
                                        <div class="title title-down" data-bind="css: { 'title-up': summary.baseVolume.absoluteChange() > 0, 'title-down': summary.baseVolume.absoluteChange() < 0, 'title-none': summary.baseVolume.absoluteChange() == 0 }"><i class="fa fa-btc" data-bind="css: { 'fa-btc': summary.isBtc, 'fa-usd': summary.isUsd, 'fa-cny' : summary.isCny }"></i><strong>Vol</strong></div>
                                        <div class="base-market-subtitle" data-bind="visible: summary.isBtc"><i class="fa fa-usd"></i><span data-bind="text: summary.baseVolumeUsd()">19373350.76</span></div>
                                        <div class="base-market" data-bind="css: { 'fiat': summary.isUsd() || summary.isCny() }">
                                            <i class="fa fa-btc" data-bind="css: { 'fa-btc': summary.isBtc, 'fa-usd': summary.isUsd, 'fa-cny' : summary.isCny }"></i>
                                            <span data-bind="text: summary.displayBaseVolume()">4485.6648</span>
                                        </div>
                                        <div class="direction">
                                            <span data-bind="css: { 'dyn-stat-up': summary.baseVolume.absoluteChange() > 0, 'dyn-stat-down': summary.baseVolume.absoluteChange() < 0, 'dyn-stat-none': summary.baseVolume.absoluteChange() == 0 }" class="dyn-stat-down"></span>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-12 col-xs-6 stat-left">
                                    <div class="wrapper">
                                        <div class="title title-up" data-bind="css: { 'title-up': summary.bid.absoluteChange() > 0, 'title-down': summary.bid.absoluteChange() < 0, 'title-none': summary.bid.absoluteChange() == 0 }"><strong>Bid</strong></div>
                                        <div class="base-market-subtitle" data-bind="visible: summary.isBtc"><i class="fa fa-usd"></i><span data-bind="text: summary.bidUsd()">33.51</span></div>
                                        <div class="base-market" data-bind="css: { 'fiat': summary.isUsd() || summary.isCny() }">
                                            <i class="fa fa-btc" data-bind="css: { 'fa-btc': summary.isBtc, 'fa-usd': summary.isUsd, 'fa-cny' : summary.isCny }"></i>
                                            <span data-bind="text: summary.displayBid()">0.00775834</span>
                                        </div>
                                        <div class="direction">
                                            <span data-bind="css: { 'dyn-stat-up': summary.bid.absoluteChange() > 0, 'dyn-stat-down': summary.bid.absoluteChange() < 0, 'dyn-stat-none': summary.bid.absoluteChange() == 0 }" class="dyn-stat-up"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-6 stat-right">
                                    <div class="wrapper">
                                        <div class="title title-up" data-bind="css: { 'title-up': summary.ask.absoluteChange() > 0, 'title-down': summary.ask.absoluteChange() < 0, 'title-none': summary.ask.absoluteChange() == 0 }"><strong>Ask</strong></div>
                                        <div class="base-market-subtitle" data-bind="visible: summary.isBtc"><i class="fa fa-usd"></i><span data-bind="text: summary.askUsd()">33.59</span></div>
                                        <div class="base-market" data-bind="css: { 'fiat': summary.isUsd() || summary.isCny() }">
                                            <i class="fa fa-btc" data-bind="css: { 'fa-btc': summary.isBtc, 'fa-usd': summary.isUsd, 'fa-cny' : summary.isCny }"></i>
                                            <span data-bind="text: summary.displayAsk()">0.00777700</span>
                                        </div>
                                        <div class="direction">
                                            <span data-bind="css: { 'dyn-stat-up': summary.ask.absoluteChange() > 0, 'dyn-stat-down': summary.ask.absoluteChange() < 0, 'dyn-stat-none': summary.ask.absoluteChange() == 0 }" class="dyn-stat-up"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-6 stat-left">
                                    <div class="wrapper">
                                        <div class="title title-down" data-bind="css: { 'title-up': summary.high.absoluteChange() > 0, 'title-down': summary.high.absoluteChange() < 0, 'title-none': summary.high.absoluteChange() == 0 }"><strong>24h High</strong></div>
                                        <div class="base-market-subtitle" data-bind="visible: summary.isBtc"><i class="fa fa-usd"></i><span data-bind="text: summary.highUsd()">35.20</span></div>
                                        <div class="base-market" data-bind="css: { 'fiat': summary.isUsd() || summary.isCny() }">
                                            <i class="fa fa-btc" data-bind="css: { 'fa-btc': summary.isBtc, 'fa-usd': summary.isUsd, 'fa-cny' : summary.isCny }"></i>
                                            <span data-bind="text: summary.displayHigh()">0.00815000</span>
                                        </div>
                                        <div class="direction">
                                            <span data-bind="css: { 'dyn-stat-up': summary.high.absoluteChange() > 0, 'dyn-stat-down': summary.high.absoluteChange() < 0, 'dyn-stat-none': summary.high.absoluteChange() == 0 }" class="dyn-stat-down"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-6 stat-right">
                                    <div class="wrapper">
                                        <div class="title title-none" data-bind="css: { 'title-up': summary.low.absoluteChange() > 0, 'title-down': summary.low.absoluteChange() < 0, 'title-none': summary.low.absoluteChange() == 0 }"><strong>24h Low</strong></div>
                                        <div class="base-market-subtitle" data-bind="visible: summary.isBtc"><i class="fa fa-usd"></i><span data-bind="text: summary.lowUsd()">32.31</span></div>
                                        <div class="base-market" data-bind="css: { 'fiat': summary.isUsd() || summary.isCny() }">
                                            <i class="fa fa-btc" data-bind="css: { 'fa-btc': summary.isBtc, 'fa-usd': summary.isUsd, 'fa-cny' : summary.isCny }"></i>
                                            <span data-bind="text: summary.displayLow()">0.00748000</span>
                                        </div>
                                        <div class="direction">
                                            <span data-bind="css: { 'dyn-stat-up': summary.low.absoluteChange() > 0, 'dyn-stat-down': summary.low.absoluteChange() < 0, 'dyn-stat-none': summary.low.absoluteChange() == 0 }" class="dyn-stat-none"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                                
        </div>
        
        <div class="row">
                <div class="col-xs-4">
                        <h2 class="section-header-in-row">Order Book</h2>
                </div>
                <div class="col-xs-8">
                        <div id="market-toolbar-history" class="table-toolbar table-toolbar-in-header">
                                <div class="dataTables_length" id="orderBook_length2" style="float:right">
                                <label>
                                        <div style="padding-top: 5px; padding-right: 4px; float: left;">Display&nbsp;</div>
                                        <select class="form-control input-sm" style="float: left;width: 70px" data-bind="options: orderBook.availableLength, optionsText: 'value', value: orderBook.selectedLength, optionsCaption: 'Choose...'"><option value="">Choose...</option><option value="">10</option><option value="">25</option><option value="">50</option><option value="">100</option></select>
                                        <div style="padding-top: 5px; padding-right: 0px; padding-left: 4px; float: left;">&nbsp;rows</div>
                                </label>
                                </div>
                        </div>
                        <form class="form-inline" style="float:right">
                                <div class="checkbox">
                                <label style="padding-top: 1px">
                                        <input type="checkbox" data-bind="checked: orderBook.showAll" style="top:2px"> Show All
                                </label>
                                </div>
                        </form>
                </div>
        </div>

        <div class="row" ng-controller="orderBookCtl">
                <div class="col-xs-12 col-sm-6">
                        <h2 class="subsection-header-in-row">Bids</h2>
                        <div class="left-table-wrapper">
                                <table id="sellOrders" class="orderbook">
                                        <thead>
                                                <tr>
                                                        <th>Price</th>
                                                        <th>Amount</th>
                                                        <th>Total</th>
                                                        <th>Sum</th>
                                                </tr>
                                        </thead>
                                        <tbody></tbody>
                                </table>
                        </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                        <h2 class="subsection-header-in-row">Asks</h2>
                        <div class="left-table-wrapper">
                                <table id="buyOrders" class="orderbook">
                                        <thead>
                                                <tr>
                                                        <th>Price</th>
                                                        <th>Amount</th>
                                                        <th>Total</th>
                                                        <th>Sum</th>
                                                </tr>
                                        </thead>
                                        <tbody></tbody>
                                </table>
                        </div>
                </div>
        </div>

        <div class="row" ng-controller="tradeHistoryCtl" >
                <div class="col-xs-12" id="orderSummary">
                        <div class="row">
                                <div class="col-xs-4">
                                        <h2 class="section-header-in-row">Market History</h2>
                                </div>
                                <div class="col-xs-8">
                                        <div id="market-toolbar-history" class="table-toolbar table-toolbar-in-header">
                                        <div class="dataTables_length" id="marketHistoryTable2_length2" style="float:right">
                                                <label>
                                                <div style="padding-top: 5px; padding-right: 4px; float: left;">Display&nbsp;</div>
                                                <select class="form-control input-sm" style="float: left;width:70px" data-bind="options: history.availableLength, optionsText: 'value', value: history.selectedLength, optionsCaption: 'Choose...'"><option value="">Choose...</option><option value="">10</option><option value="">25</option><option value="">50</option><option value="">100</option></select>
                                                <div style="padding-top: 5px; padding-right: 0px; padding-left: 4px; float: left;">&nbsp;rows</div>
                                                </label>
                                        </div>
                                        </div>    
                                </div>
                        </div>
                        <div class="right-table-wrapper">
                                <table id="tradeHistory" class="orderbook">
                                        <thead>
                                                <tr>
                                                        <th>Date</th>
                                                        <th>Type</th>
                                                        <th>Rate</th>
                                                        <th>Amount</th>
                                                        <th>Total</th>
                                                </tr>
                                        </thead>
                                        <tbody></tbody>
                                </table>
                        </div>
                </div>
        </div>
        
</div>

</section>
<script src="/js/controllers.js"></script>


<% include ../layout/bottom %>