<% include ../layout/top %>
        
        <div class="page-content">
                <div class="index">
                        <div class="grid"> 
                                <div class="col-1-1"> 
                                        <h1 class="title">Waiting for checking authentication</h1> 
                                </div> 
                                
                        </div>
                </div>
        </div>

<% include ../layout/bottom %>

<script>
        $( document ).ready(function() {
                // if (!curtoken || curtoken === 'undefined' || curtoken == null) {
                //         // Code for localStorage/sessionStorage.
                //         window.location.href = "/login";
                // } else {
                //         window.location.href = localStorage.getItem("destinationUrl");
                // // Sorry! No Web Storage support..
                // }
        });
</script>
