<% include ../layout/top %>
        
<div style="position: relative; color: #fff; background:#262626; background-size: cover;">
        <div class="image-postion container" style=" z-index: 1; min-height: 350px; padding-top: 30px;">
            <div class=" col-lg-6 col-md-12 col-sm-12 " style="position: relative;">
                <div class="block bs1">
                    <h3 class="text-right section_header" style="margin-right: 250px; margin-top: 30px;" >
                        <span class=" regular text-uppercase">
                            how to
                        </span>
                    </h3>
                    <h2 class="text-right section_header" style="margin-top: -30px; margin-right: 250px;" >
                        <span class=" regular text-uppercase">
                           SUCCEED ?
                        </span>
                    </h2>
                    <p class="text-right" style="margin-top: -20px; margin-right: 150px;">
                        <strong><span class=""><span class="">The Innovation of Investment.<br>Join Us To Be The Leader Of New World.</span></span></strong>
                    </p>
                </div>
            </div>
            <div class=" col-lg-6 col-md-12 col-sm-12">
                <div class="teaser media ">
                    <div class="media-left">
                        <div class="teaser_icon size_default main_bg_color">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="media-body toppadding_9">
                        <h4 class="media-heading bottommargin_20 text-uppercase">
    
                            TRADE: Earn Profit With Trading
                        </h4>
                    </div><!-- eof .media-body -->
                </div>
                <div class="teaser media ">
                    <div class="media-left">
                        <div class="teaser_icon size_default main_bg_color">
                            <i class="fa fa-cogs"></i>
                        </div>
                    </div>
                    <div class="media-body toppadding_9">
                        <h4 class="media-heading bottommargin_20 text-uppercase">
    
                            INVEST: Earn Daily Interest On Lending
                        </h4>
                    </div><!-- eof .media-body -->
                </div>
                <div class="teaser media ">
                    <div class="media-left">
                        <div class="teaser_icon size_default main_bg_color">
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                    <div class="media-body toppadding_9">
                        <h4 class="media-heading bottommargin_20 text-uppercase">
    
                            STAKE: Earn Interest On Holding Hextra
                        </h4>
                    </div><!-- eof .media-body -->
                </div>
                <div class="teaser media ">
                    <div class="media-left">
                        <div class="teaser_icon size_default main_bg_color">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <div class="media-body toppadding_9">
                        <h4 class="media-heading bottommargin_20 text-uppercase">
    
                            MINING: Earn With Hextra Coin Mining
                        </h4>
                    </div><!-- eof .media-body -->
                </div>
                <div class="teaser media ">
                    <div class="media-left">
                        <div class="teaser_icon size_default main_bg_color">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                    <div class="media-body toppadding_9">
                        <h4 class="media-heading bottommargin_20 text-uppercase">
    
                            Affiliate: Earn Bonus From Invitation
                        </h4>
                    </div><!-- eof .media-body -->
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="main-container" >
        <div class="content">
            <div style="background: url(/img/wivnccoin-bg.jpg); background-size: cover;">
                <div class="container " id="about">
                    <div class="row mt40 mb20">
                        <div class="col-md-12 section-title text-center center">
                            <h2 class=" clOrange" style="font-family: fantasy;">What is vncCoin</h2>
                            <hr class="hr_design">
                            <div class="clearfix"></div>
                        </div>
    
    
                        <div class="col-md-7 col-sm-12" style="color: #fff;">
                            <p style="color: #ffffff;">We are the digital money that is going to change the financial world in the future.</p>
                            <p style="color: #ffffff;">The Hextracoin system is “Peer to peer” network. There is no server for this network and this network type does not stratify the priority of connected computers. Every computer has equal rights to work on the network which is called “Peer”. Each computer will operate as clients &amp; servers that depends on the usage of users.</p>
                            <p style="color: #ffffff;">The Transfer of Hextracoin is convenient and easy. The money transfer can be occurred everywhere in the world within seconds. Moreover, Hextracoin’s transfer fee is less than the transfer fee of banks.</p>
                            <p style="color: #ffffff;">The transaction of Hextracoin is safe and anonymous. Each person is able to set a name or anonymous but the transaction can be checked by blockchain. You can transfer Hextracoin to be kept in a Hextracoin wallet just downloading Hextracoin Wallet Application and this application is available for both ios and android.</p>
                            <p style="color: #ffffff;">The number of Hextracoin coins are limited <strong>only 29 million coins</strong> for worldwide. The digital financial nowadays is tendentious to be increasing for the value rapidly</p>
                        </div>
    
                        <div class="col-md-5 col-sm-12"></div>
                    </div>
                </div>
            </div>
    
            
    
            <div class="parallax parallax6 pb50 pt50" style="background: #fff; position: relative" id="roadmaps">
               
                <div class="container m_continer container-timeline">
                    <div class="row">
                        <div class="section-title text-center center" style="width: 100%;">
                            <h2 class="clOrange" style="font-family: fantasy;">Why vncCoin ?</h2>
                            <hr class="hr_design">
                            <div class="clearfix"></div>
                        </div>
    
                        <div class="col-lg-4 col-md-4 box-why text-center">
                            <div class="img-box">
                                <img src="/img/fast.png" alt="">
                            </div>
                            <div class="title-box">
    
                                <h5>FAST</h5>
                                <p>Transaction confirmation occurs within second </p>
    
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-4 box-why text-center">
                            <div class="img-box">
                                <img src="/Content/img/fee.png" alt="">
                            </div>
                            <div class="title-box">
                                <h5>LOW FEES</h5>
                                <p>At an extremely low cost </p>
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-4 box-why text-center">
                            <div class="img-box">
                                <img src="/img/private.png" alt="">
                            </div>
                            <div class="title-box">
                                <h5>PRIVATE</h5>
                                <p>Guarantee your privacy </p>
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-4 box-why text-center">
                            <div class="img-box">
                                <img src="/img/security.png" alt="">
                            </div>
                            <div class="title-box">
                                <h5>SECURE</h5>
                                <p>The blockchain system allows the ability to protect your account from all hacks. </p>
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-4 box-why text-center">
                            <div class="img-box">
                                <img src="/img/reliable.png" alt="">
                            </div>
                            <div class="title-box">
                                <h5>RELIABLE</h5>
                                <p>The system runs smoothly </p>
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-4 box-why text-center">
                            <div class="img-box">
                                <img src="/img/simple.png" alt="">
                            </div>
                            <div class="title-box">
                                <h5>RELIABLE</h5>
                                <p>The system runs smoothly </p>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    

<% include ../layout/bottom %>

