<% include ../layout/top %>

<div id="about" class="wrapper bg-color-1">
    <div class="container">
      <div class="section-header wow bounceIn animated text-center">
        <h4>INTRODUCTION</h4>
        <h2 class="">HeliCoin Project</h2>
        <div class="separator"></div>
        <p class="header-text">
          HeliCoin is a decentralized self regulated financial payment network created for users that want to be independent from
          third parties like banks or the government. No middlemen or other institution are needed for processing transactions.
        </p>
      </div>

      <div class="img-about wow bounceIn flipInY">
        <img src="/img/laptop3.png" />
      </div>
      <div class="service_block row">
        <div class="col-sm-4 col-md-4 wow animated fadeInLeft">
          <div class="text-center">
            <h3>SPECIFICATION</h3>
            <br />
            <p>Name: HeliCoin</p>
            <p>

              Symbol: BSC

            </p>
            <p>

              Total Supply: 21.000.000

            </p>
            <p>

              ICO: 5.000.0000

            </p>
            <p>
              Bonus: 500.000

            </p>
            <p>
              Algorithm: X11
            </p>
            <p>
              Type: PoW/PoS
            </p>
            <p>
              Block size: 2MB
            </p>
            <p>
              Tx Fee: 0.00001
            </p>
            <br />
            <div class="hexagon-100">
              <span class="icon">
                <i class="icofont icofont-settings-alt"></i>
              </span>
            </div>

          </div>
        </div>
        <div class="col-sm-4 col-md-4 animation-box wow bounceIn animated">
          <div class="text-center">
            <h3>MINING</h3>
            <br />
            <p>
              POW block reward: 10 BSC


            </p>
            <p>Total POW blocks: 232800

            </p>
            <p>Block time: 5 minutes

            </p>
            <p>Minimum Stake age: 5 days

            </p>
            <p>Maximium stake age: 30 day

            </p>
            <p>Coin base maturity : 50 blocks

            </p>
            <p>Confirmation: 5 blocks
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <br />
            <div class="hexagon-100">
              <span class="icon">
                <i class="icofont icofont-mining"></i>
              </span>
            </div>

          </div>
        </div>
        <div class="col-sm-4 col-md-4 wow animated fadeInRight">
          <div class="text-center">
            <h3>PROFIT</h3>
            <br />
            <p>
              1st semester: 60% (10% monthly)
            </p>
            <p>
              2nd semester: 50% (8% monthly)

            </p>
            <p>
              3rd semester: 40% (7% monthly)

            </p>
            <p>
              4th semester: 30% (5% monthly)
            </p>
            <p>
              5th semester: 20% (3% monthly)

            </p>
            <p>
              6th semester: 10% (1.4% monthly)
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <br />
            <div class="hexagon-100">
              <span class="icon">
                <i class="icofont icofont-money-bag"></i>
              </span>
            </div>

          </div>

        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>

  <section id="about-2" class="wrapper">
    <div class="container">
      <div class="section-header wow bounceIn animated text-center">
        <h4>MINING</h4>
        <h2 class="">Proof of work defined</h2>
        <div class="separator"></div>
        <p class="header-text">
          X11 algorithm (PoW)
        </p>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 wow animated fadeInLeft">
          <img src="/img/proof.png" alt="" class="img-about-2">
        </div>
        <div class="col-sm-4">
          <div class="service-list style2">
            <span class="icon round text-center pull-left">
              <i class="fa fa-shield"></i>
            </span>
            <div class="txt-holder ">
              <h3 class="heading3 text-uppercase">Security</h3>
              <p>
                X11 algorithm uses eleven hashing functions from the Blake algorithm to the Keccak algorithm making it very secure which
                really is needed for coins that do so well for CPU’s
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="service-list style2">
            <span class="icon round text-center pull-left">
              <i class="fa fa-lightbulb-o"></i>
            </span>
            <div class="txt-holder">
              <h3 class="heading3 text-uppercase">Power Cost</h3>
              <p>
                X11 provides significantly lower electricity costs at the end of the month mining HeliCoin. This makes to be a favorite
                in places where electricity costs are expensive
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="service-list style2">
            <span class="icon round text-center pull-left">
              <i class="fa fa-angellist"></i>
            </span>
            <div class="txt-holder ">
              <h3 class="heading3 text-uppercase">Effectiveness</h3>
              <p>
                X11 Algorithm keeps miners temperature over 30% cooler, making your expensive machines less prone to overheating because
                don’t require as much processing power in order to mine the coins with this algorithm
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="staking" class="wrapper bg-color-2">
    <div class="container">
      <div class="section-header wow bounceIn animated text-center">
        <h4>staking</h4>
        <h2 class="">Proof of stake defined</h2>
        <div class="separator"></div>
        <p class="header-text">
          Proof of Stake (PoS) concept states that a person can mine or validate block transactions according to how many HeliCoin
          he or she holds. This means that the more BSC owned by a miner, the more mining power he or she has, which results
          with bigger profit.
        </p>
      </div>
      <div class="row">

        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-12 wow animated fadeInRight">
          <img src="/img/graphic3.png" alt="" class="">




        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow animated fadeInLeft">
          <ul class="list-unstyled service-list style3">
            <li>
              <h3 class="heading3">Advantages:</h3>
            </li>
            <li>
              <span class="icon pull-left">
                <i class="fa fa-check-square-o"></i>
              </span>
              <h3 class="heading3">Friendly interface</h3>
            </li>
            <li>
              <span class="icon pull-left">
                <i class="fa fa-check-square-o"></i>
              </span>
              <h3 class="heading3">Secured funds</h3>
            </li>
            <li>
              <span class="icon pull-left">
                <i class="fa fa-check-square-o"></i>
              </span>
              <h3 class="heading3">No Electricity</h3>
            </li>
            <li>
              <span class="icon pull-left">
                <i class="fa fa-check-square-o"></i>
              </span>
              <h3 class="heading3">Always growth</h3>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <div id="department" class="wrapper bg-color-1">
    <div class="container">
      <div class="section-header wow bounceIn animated text-center">
        <h4></h4>
        <h2 class="">Token Sale Stats</h2>
        <div class="separator"></div>
        <p class="header-text">

        </p>
      </div>
      <div class="dep-list">
        <div class="row ">
          <div class="col-md-4 col-sm-4 col-xs-12 wow animated fadeInLeft">
            <div class="hexagon-150">
              <span class="icon">
                <i class="fa fa-users"></i>
              </span>
            </div>
            <div class="number">Pending</div>
            <strong class="counter">registration statistics</strong>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow animated fadeInLeft">
            <div class="hexagon-150">
              <span class="icon">
                <i class="fa fa-usd"></i>
              </span>
            </div>
            <div class="number">Pending</div>
            <strong class="counter">USD statistics</strong>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow animated fadeInLeft">
            <div class="hexagon-150">
              <span class="icon">
                <i class="fa fa-btc"></i>
              </span>
            </div>
            <div class="number">Pending</div>
            <strong class="counter">Bitcon statistics</strong>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="ico" class="wrapper">
    <div class="section-header wow bounceIn animated text-center">
      <h4>Some Facts</h4>
      <h2 class="">ICO Calendar</h2>
      <div class="separator"></div>
      <p class="header-text">

      </p>
    </div>
    <div class="newsletter-sec">
      <div class="ico-calenda">
        <div class="container">
          <section class="cd-horizontal-timeline">
            <div class="timeline">
              <div class="events-wrapper">
                <div class="events" style="height:20px">
                  <ol>
                    <li>
                      <a href="#0" data-date="01/12/2017" class="selected">1 Dec</a>
                    </li>
                    <li>
                      <a href="#0" data-date="15/12/2017">15 Dec</a>
                    </li>
                    <li>
                      <a href="#0" data-date="31/12/2017">31 Dec</a>
                    </li>
                  </ol>

                  <span class="filling-line" aria-hidden="true"></span>
                </div>
                <!-- .events -->
              </div>
              <!-- .events-wrapper -->

              <ul class="cd-timeline-navigation">
                <li>
                  <a href="#0" class="prev inactive">Prev</a>
                </li>
                <li>
                  <a href="#0" class="next">Next</a>
                </li>
              </ul>
              <!-- .cd-timeline-navigation -->
            </div>
            <!-- .timeline -->

            <div class="events-content">
              <ol>
                <li class="selected" data-date="01/12/2017">
                  <h2>Registration starts</h2>
                  <em>December 1st, 2017</em>

                </li>

                <li data-date="15/12/2017">
                  <h2>BEGIN SALE </h2>
                  <em>December 15th, 2017</em>

                </li>

                <li data-date="31/12/2017">
                  <h2>END SALE</h2>
                  <em>December 31th, 2017</em>

                </li>
              </ol>
            </div>
            <!-- .events-content -->
          </section>
        </div>
      </div>
      <!--End timeline-->
      <!--start chart collum-->
      <div class="container">
        <h3 class="heading style4 animation-box wow bounceIn animated ">ICO Structure</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="chart-2 wow animated flipInY">
              <img src="/img/bar_charte5bf.png?v=12" />

            </div>
          </div>
          <div class="col-sm-6">
            <div class="chart-1 wow animated flipInY">
              <img src="/img/circle-chart-ico3860.png?v=1" />
              <!--<p id="description1">Bonus</p>
                <p id="description2">Pre-sale</p>
                <p id="description3">Mining</p>
                <span id="data1">500K</span>
                <span id="data2">5M</span>
                <span id="data3">16M5</span>-->
            </div>
          </div>
        </div>
        <a href="ico.html" class="btn btn-sub">Join ICO</a>
      </div>
    </div>

    <div class="service-sec bg-color-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 mar-bottom-xs">

            <div class="service">
              <span class="icon round text-center pull-left">
                <i class="fa fa-handshake-o"></i>
              </span>
              <div class="txt-holder pull-left">
                <h4 class="heading3 text-uppercase">Lending</h4>
                <p>
                  This investment option allows you to profit from BSC trading bot and volatility software. Land your coins for daily reward.
                </p>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-sm-4 mar-bottom-xs">

            <div class="service">
              <span class="icon round text-center pull-left">
                <i class="fa fa-line-chart"></i>
              </span>
              <div class="txt-holder pull-left">
                <h4 class="heading3 text-uppercase">Staking</h4>
                <p>
                  Staking is a process that rewards you by simply holding coins in previosly installed HeliCoin wallet. The more coins you
                  have, the more you earn. Watch your interest grow!
                </p>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-4 mar-bottom-xs">

            <div class="service">
              <span class="icon round text-center pull-left">
                <i class="fa fa-sitemap" aria-hidden="true"></i>
              </span>
              <div class="txt-holder pull-left">
                <h4 class="heading3 text-uppercase">Affiliate</h4>
                <p>
                  With HeliCoin attractive "Refer and Affiliate" program you can earn additional coins just by refering people to sign up
                  and invest in HeliCoin.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="lending" class="wrapper">
    <div class="container">
      <div class="section-header wow bounceIn animated text-center">
        <h4>HeliCoin</h4>
        <h2 class="">Lending</h2>
        <div class="separator"></div>
        <p class="header-text">
          You can invest HeliCoin coin in our lending platform from your Dashboard. This investment option allows you to profit from
          the HeliCoin volatility software. This volatility software buys and sells HeliCoins automatically. You will receive
          daily profit based on your investment. You will receive your capital back with the profits on the following chart
          on top. You can take out your capital from HeliCoin lending platform or reinvest at any time.
        </p>
      </div>
      <div class="img_lending_program text-center">
        <img src="/img/lending_hard_image.png" />
      </div>

      <div class="collum_block_lending">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="wow flipInY animated">
              <div class="price_heading">
                <div class="align-left">
                  <strong>$ 50 - $ 1.000</strong>
                  <br />
                  <span class="txt">Lending Amount</span>

                </div>
              </div>

              <ul class="benefits-list" style="background: #5dade2;">
                <li>Volatility Software Interest</li>
                <li>
                  (up to 40% per Month)
                </li>

                <li>After 100 Days</li>
                <li class="btns text-center">
                  <a href="javascript:(0)" target="_blank" class="btn">Invest</a>
                </li>

              </ul>

            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="wow flipInY animated">
              <div class="price_heading">
                <div class="align-left">
                  <strong>$ 1.010 - $ 10.000</strong>
                  <br />
                  <span class="txt">Lending Amount</span>

                </div>
              </div>

              <ul class="benefits-list" style="background: #81bd69;">
                <li>Volatility Software Interest </li>
                <li>
                  (up to 50% per Month)
                </li>

                <li>After 90 Days</li>
                <li class="btns text-center">
                  <a href="javascript:(0)" target="_blank" class="btn">Invest</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="wow flipInY animated">
              <div class="price_heading">
                <div class="align-left">
                  <strong>$ 10.010 - $ 50.000</strong>
                  <br />
                  <span class="txt">Lending Amount</span>

                </div>
              </div>

              <ul class="benefits-list">
                <li>Volatility Software Interest </li>
                <li>
                  (up to 48% per Month)
                </li>

                <li>After 120 Days</li>
                <li class="btns text-center">
                  <a href="javascript:(0)" target="_blank" class="btn">Invest</a>
                </li>

              </ul>

            </div>
          </div>
          <!-- <div class="col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0">
            <div class="wow flipInY animated">
              <div class="price_heading">
                <div class="align-left">
                  <strong>
                    $ 10.010 - $ 100.000
                  </strong>
                  <br />
                  <span class="txt">Lending Amount</span>

                </div>
              </div>

              <ul class="benefits-list">
                <li>Volatility Software Interest + 0.30% daily</li>
                <li>
                  (up to 48% per Month)
                </li>

                <li>After 99 Days</li>
                <li class="btns text-center">
                  <a href="javascript:(0)" target="_blank" class="btn">Invest</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="wow flipInY animated">
              <div class="price_heading">
                <div class="align-left">
                  <strong>
                    $ 100.010
                  </strong>
                  <br />
                  <span class="txt">Lending Amount</span>

                </div>
              </div>

              <ul class="benefits-list">
                <li>Volatility Software Interest + 0,45% daily</li>
                <li>
                  (up to 48% per Month)
                </li>

                <li>After 60 Days</li>
                <li class="btns text-center">
                  <a href="javascript:(0)" target="_blank" class="btn">Invest</a>
                </li>

              </ul>
            </div>
          </div> -->
        </div>
      </div>

    </div>

  </div>

  <div id="affiliate" class="wrapper bg-color-1">
    <div class="container">
      <div class="section-header wow bounceIn animated text-center">
        <h4>REFERRAL AND AFFILIATE PROGRAM</h4>
        <h2 class="">Affiliate</h2>
        <div class="separator"></div>
        <p class="header-text">
          With HeliCoin's attractive
          <strong>Referral and Affiliate Program</strong> you can earn additional coins by telling other users about this opportunity
          and referring them to the HeliCoin community. We are offering a bonus program which enables you the possibility
          to earn more for every new user who signs up and joins to the HeliCoin lending platform using your affiliate link.
          HeliCoins affiliate program is designed with 7 lucrative levels to earn additional commissions by every registered
          partner. You will earn a commission every time a referral lends HeliCoin on our platform through your affiliate
          link. With the matching bonus you earn a commission on every interest your partner gets (every day). The commission
          you earn is based on the level your partner signs
        </p>
      </div>

      <div class="border_bot row">
        <div class="col-xs-12 col-sm-6 bdr animation-box wow bounceIn animated" data-wow-delay="0.2s">
          <div class="testimonail">
            <div class="img-holder">
              <div class="img round">
                <img src="/img/logo87.png" alt="image description" class="img-responsive">
              </div>
              <span class="icon round text-center">
                <i class="fa fa-quote-left"></i>
              </span>
            </div>
            <div class="txt-holder">
              <p>
                HeliCoin is the coin for you, a coin for the people and a coin that has the power to change the world. HeliCoin would like
                to welcome you on the journey, you won't regret it!
              </p>

            </div>
          </div>


        </div>
        <div class="col-xs-12 col-sm-6 animation-box wow bounceIn animated" data-wow-delay="0.35s">

          <div class="testimonail">
            <div class="img-holder">
              <div class="img round">
                <img src="/img/logo84.png" alt="image description" class="img-responsive">
              </div>
              <span class="icon round text-center">
                <i class="fa fa-quote-left"></i>
              </span>
            </div>
            <div class="txt-holder">
              <p>
                If you recommend a new cinema movie to your best friend you don't get anything for that, HeliCoin changes that and offers
                you a bonus for recommendations!
              </p>

            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 bdr animation-box wow bounceIn animated " data-wow-delay="0.5s">
          <div class="testimonail">
            <div class="img-holder">
              <div class="img round">
                <img src="/img/logo85.png" alt="image description" class="img-responsive">
              </div>
              <span class="icon round text-center">
                <i class="fa fa-quote-left"></i>
              </span>
            </div>
            <div class="txt-holder">
              <p>
                We offer an amazing community and of course an affiliate program, where you can build up your team and build up a great future
                for yourself. One community - one family - one vision
              </p>

            </div>
          </div>


        </div>
        <div class="col-xs-12 col-sm-6 bdr2 animation-box wow bounceIn animated " data-wow-delay="0.65s">

          <div class="testimonail">
            <div class="img-holder">
              <div class="img round">
                <img src="/img/logo86.png" alt="image description" class="img-responsive">
              </div>
              <span class="icon round text-center">
                <i class="fa fa-quote-left"></i>
              </span>
            </div>
            <div class="txt-holder">
              <p>
                Earn daily commission based on the level your partners sign up, that sounds amazing and the surprise is that HeliCoin offers
                you this incredible option, don't miss it
              </p>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div id="roadmap" class="">
    <div class="container">
      <div class="section-header wow bounceIn animated text-center">
        <h4>DEVELOPMENT</h4>
        <h2 class="">Roadmap</h2>
        <div class="separator"></div>
        <p class="header-text">

        </p>
      </div>

      <div class="load_road_map wow flipInY animated">
        <img src="/img/roadmap-27b30.png?v=4" />
      </div>
    </div>

  </div>

    

<% include ../layout/bottom %>

