<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
        <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
        <link rel='stylesheet' id='tt-easy-google-fonts-css' href='https://fonts.googleapis.com/css?family=Roboto+Slab%3A100%7CCousine%3Aregular&#038;subset=vietnamese&#038;ver=4.7.2' type='text/css' media='all' />
        <link rel='stylesheet' id='layers-google-fonts-css' href='https://fonts.googleapis.com/css?family=Roboto%3Aregular%2Citalic%2C700%2C100%2C100italic%2C300%2C300italic%2C500%2C500italic%2C700italic%2C900%2C900italic%7CRoboto+Slab%3Aregular%2C700%2C100%2C300%7CLato%3Aregular%2Citalic%2C700%2C100%2C100italic%2C300%2C300italic%2C700italic%2C900%2C900italic&#038;ver=1.5.5' type='text/css' media='all' />
        <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans"> -->
        <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/imagehover.min.css">
        <link rel="stylesheet" type="text/css" href="/css/toastr.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <!-- =======================================================
        Theme Name: Mentor
        Theme URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
        Author: BootstrapMade.com
        Author URL: https://bootstrapmade.com
        ======================================================= -->
        <style>
            .ui-autocomplete {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                float: left;
                display: none;
                min-width: 160px;
                padding: 4px 0;
                margin: 0 0 10px 25px;
                list-style: none;
                background-color: #ffffff;
                border-color: #ccc;
                border-color: rgba(0, 0, 0, 0.2);
                border-style: solid;
                border-width: 1px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                *border-right-width: 2px;
                *border-bottom-width: 2px;
            }
    
            .ui-menu-item > a.ui-corner-all {
                display: block;
                padding: 3px 15px;
                clear: both;
                font-weight: normal;
                line-height: 18px;
                color: #555555;
                white-space: nowrap;
                text-decoration: none;
            }
    
            .ui-state-hover, .ui-state-active {
                color: #ffffff;
                text-decoration: none;
                background-color: #0088cc;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                background-image: none;
            }
        </style>
        <script src="/vendor/jquery/jquery.min.js"></script>
        <!-- <script src="/Content/js/client.js"></script> -->
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/jssor.slider.min.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/controllers.js"></script>
        <!-- <script src="/vendor/jquery/toastr.min.js"></script> -->
        <script src="/vendor/jquery/jquery.dataTables.min.js"></script>
        
    </head>

    <body class="home header-style2" ng-app='myApp'>
        <div class="body main-bg-color">
                <div class="row">
                        <!-- Jssor Slider Begin -->
                        <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1040px; height: 442px; overflow: hidden;">
                            <!-- Loading Screen -->
                            <div style="position: absolute; z-index: 9; width: 200px;" data-autocenter="3">
                                <img src="/img/gallery/hextra_coin.png" style="width: 200px;"/>
                                <h3 style="color: #fff;">we are revolution </h3>
                            </div>
                            <div data-u="loading" class="jssorl-009-spin" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                                <img style="margin-top: -19px; position: relative; top: 50%; width: 38px; height: 38px;" src="~/Content/svg/loading/static-svg/spin.svg"/>
                            </div>
    
                            <!-- Slides Container -->
                            <div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1040px; height: 442px; overflow: hidden;">
                                <div>
                                    <img data-u="image" src="/img/gallery/bg1.jpg"/>
                                </div>
                                <div>
                                    <img data-u="image" src="/img/gallery/bg2.jpg"/>
                                </div>
                                <div>
                                    <img data-u="image" src="/img/gallery/bg3.jpg"/>
                                </div>
                                <div>
                                    <img data-u="image" src="/img/gallery/bg4.jpg"/>
                                </div>
                                <div>
                                    <img data-u="image" src="/img/gallery/bg5.jpg"/>
                                </div>
                                <div>
                                    <img data-u="image" src="/img/gallery/bg6.jpg"/>
                                </div>
                            </div>
    
                            <!--#region Bullet Navigator Skin Begin -->
                            <!-- Help: https://www.jssor.com/development/slider-with-bullet-navigator.html -->
                            <style>
                                .jssorb031 {
                                    position: absolute;
                                }
    
                                .jssorb031 .i {
                                    position: absolute;
                                    cursor: pointer;
                                }
    
                                .jssorb031 .i .b {
                                    fill: #000;
                                    fill-opacity: 0.5;
                                    stroke: #fff;
                                    stroke-width: 1200;
                                    stroke-miterlimit: 10;
                                    stroke-opacity: 0.3;
                                }
    
                                .jssorb031 .i:hover .b {
                                    fill: #fff;
                                    fill-opacity: .7;
                                    stroke: #000;
                                    stroke-opacity: .5;
                                }
    
                                .jssorb031 .iav .b {
                                    fill: #fff;
                                    stroke: #000;
                                    fill-opacity: 1;
                                }
    
                                .jssorb031 .i.idn {
                                    opacity: .3;
                                }
                            </style>
                            <div data-u="navigator" class="jssorb031" style="position: absolute; bottom: 12px; right: 12px;" data-autocenter="2" data-scale="0.5" data-scale-bottom="0.5">
                                <div data-u="prototype" class="i" style="width: 16px; height: 16px;">
                                    <svg viewBox="0 0 16000 16000" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                                        <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                                    </svg>
                                </div>
                            </div>
                            <!--#endregion Bullet Navigator Skin End -->
    
    
                        </div>
                        <!-- Jssor Slider End -->
                    </div>


                    <div class="header">
                            <div class="site-header-wrapper" style="background: #1b1b1b;">
                                    <div style="position: relative" class="container">
                                        <div class="site-logo xs-mt-10">
                                            <a style="display: block" href="/" title="vncCoin" class="default-logo">
                                                <img src="/img/logo.png" alt="vncCoin" title="vncCoin">
                                            </a>
                                        </div>
                                        <a href="#" title="menu Toggle" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
                                        <ul class="sf-menu dd-menu pull-right" role="menu">
                                            
                                            <li class="hovereffect"><a href="/ico-campaign" title="ICO campaign">ICO</a></li>
                                            <li class="hovereffect"><a href="/roadmaps" title="about vncCoin">ROADMAPS</a></li>
                                            <li class="hovereffect">
                                                <a href="lending-campaign" title="Lending campaign">Lending</a>
                                                
                                            </li>
                
                                            <li class="hovereffect"><a title="" href="javascript:;" title="White paper" >White paper</a></li>
                                            <li class="hovereffect"><a href="" title="Frequently Asked Questions">FAQ</a></li>
                                            <li class="hovereffect"><a href="/login">JOIN US</a></li>
                                        </ul>
                                    </div>
                                    
                            </div>
                        </div>

        