<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="HandheldFriendly" content="True">

<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="description" content="HeliCoin is a decentralized self regulated financial payment network created for users that want to be independent from third parties like banks or the government.
No middlemen or other institution are needed for processing transactions.">

<meta name="keywords" content="Helicoin, bitcoin, blockchain, mining, profit ">
<title>Home Block Coin</title>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRoboto:300,400,500,700,900" rel="stylesheet">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.minc164.css?v=9">
<link rel="stylesheet" href="/css/icofont.css">
<link rel="stylesheet" href="/css/owl.carousel.css">
<link rel="stylesheet" href="/css/owl.theme.css">
<link rel="stylesheet" href="/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" href="/css/nivo-lightbox/nivo-lightbox-theme.css">
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="/css/stylece31.css?v=19">

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>


<body  ng-app='myApp'>
    <section id="header" class="header">
        <div class="top-bar">
          <div class="container">
            <div class="navigation" id="navigation-scroll">
              <div class="row">
                <div class="col-md-3 col-xs-10">
                  <a href="#">
                    <span id="logo">
                      <img src="/img/logo-small-1.png" class="logo-top" />
                      <img src="/img/logo-small-2.png" class="logo-fix" />
                    </span>
                  </a>
                </div>
                <div class="col-md-9 col-xs-2">
                  <ul id="menu-des" class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                    <li class="active">
                      <a href="#header">Home</a>
                    </li>
                    <li>
                      <a href="#about">About</a>
                    </li>
                    <li>
                      <a href="#ico">Ico</a>
                    </li>
                    <li>
                      <a href="/whitepaper-HeliCoin7b30.pdf?v=4">White Paper</a>
                    </li>
                    <li>
                      <a href="#lending">Lending</a>
                    </li>
                    <li>
                      <a href="#affiliate">Affiliate</a>
                    </li>
                    <li>
                      <a href="#roadmap">Roadmap</a>
                    </li>
                    <li>
                      <a href="account/signin.html">
                        <i class="fa fa-user"></i> Login</a>
                    </li>
                  </ul>
                  <p class="nav-button hidden-lg hidden-md ">
                    <button id="trigger-overlay" type="button">
                      <i class="fa fa-bars"></i>
                    </button>
                  </p>
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.navigation -->
          </div>
          <!--/.container-->
        </div>
        <!--/.top-bar-->
        <div class="container">
          <div class="starting">
            <div class="row">
              <div class="col-md-4 col-sm-4  video-slide text-center">
                <img src="/img/logo-big.png" alt="HeliCoin" class="wow flipInY animated animated img-slider">
              </div>
              <div class="col-md-8 col-sm-8 text-slide">
                <div class="banner-text text-center">
                  <h2 class="animation-box wow bounceIn animated ">
                    <strong>
                      HeliCoin is digital cash
                    </strong>
                  </h2>
                  <p>The next generation of advanced solution for global money transaction</p>
                  <p class="time_sale_ico">ICO sale time</p>
    
                  <div id="app">
                    <countdown></countdown>
                  </div>
    
                  <a href="account/register2123.html?admin" target="_blank" class="btn">BUY ICO NOW</a>
                </div>
                <!-- /.banner-text -->
              </div>
            </div>
          </div>
          <!-- /.starting -->
        </div>
        <!-- /.container -->
      </section>
                
                   
        