<% include ../layout/betop %>

<!-- Ignite UI Required Combined CSS Files -->
<link href="/css/infragistics.theme.css" rel="stylesheet" />
<link href="/css/infragistics.css" rel="stylesheet" />
<style>
    table tr td {
    padding: 10px 25px !important;
    border: 1px solid #ddd;
    text-align: left;
}
</style>
<div>
    <div id="treegridDownline"></div>
    
</div>

<% include ../layout/bebottom %>